* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  box-sizing: border-box;
  background-color: #fffdf6;
}

a {
  all: unset;
  cursor: pointer;
}

input.form-control::placeholder {
  opacity: 0.4;
  font-size: 16px;
}

button.menu-btn:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fd9485;
  width: 100%;
  height: 3rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.principal {
  display: flex;
  overflow: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 585px;
}

.principal .conteudo {
  width: 75rem;
  min-height: 500px;
}

.bloco-busca-novo {
  width: 100%;
  min-height: 3rem;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bloco-form {
  width: 100%;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.bloco-conteudo {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
}

.bloco-conteudo .bloco {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 4rem;
  background-color: #a1d4b7;
  position: fixed;
}

.cabecalho .menu {
  min-height: 120px;
  position: absolute;
  margin-top: 180px;
  color: #fcfcda;
}

.login {
  display: flex;
  flex-flow: row wrap;
}

.coluna-logo {
  width: 60%;
  height: 100vh;
  background-color: #fffdf6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coluna-campos {
  width: 40%;
  background-color: #a1d4b7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coluna-campos .campos-login {
  width: 28rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.coluna-campos .campos-login > .botoes {
  display: flex;
  width: 28rem;
  justify-content: center;
}

.botao-principal {
  background-color: #fcfcda;
  color: #737373;
}

.botao-limpar {
  background-color: #fd9485;
  color: #fff;
}

.botao-limpar:hover {
  background-color: #ff543a;
  color: #fff;
}

.botao-pesquisar {
  background-color: #5086c1;
  color: #fff;
}

.botao-alterar {
  background-color: #c8ca66;
  color: #fff;
}

.botao-alterar:hover {
  background-color: #8d8f12;
  color: #fff;
}

.botao-pesquisar:hover {
  background-color: #0c5db3;
  color: #fff;
}

.botao-confirmar {
  background-color: #97c1a9;
  color: #fff;
}

.botao-confirmar:hover {
  background-color: #4ab97a;
  color: #fff;
}

.botao-confirmar:focus {
  background-color: #4ab97a;
  color: #fff;
}

.cor-texto-cabecalho {
  color: #fd9485;
}

.cor-texto {
  color: #fcfcda;
}

.is-invalid {
  border-color: red;
}
.invalid-feedback {
  color: red;
  font-size: 0.875rem; /* Pode ajustar o tamanho da fonte conforme necessário */
}

footer > .item-menu {
  display: flex;
  font-weight: 500;
  font-size: 18px;
}
